.root {
  width: 100%;
  min-height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: $mint;
}

.main {
  width: 100%;
  height: calc(100% - #{$header-height});
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}


