.header {
  @include flex-container-horizontal();
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $mint-light;

  &__logo {
    background-image: url('/images/logo.png');
    flex: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: $header-height;
  }
}
