.header {
  @include flex-container-horizontal();
  height: $header-height;
  align-items: center;
  padding: 0 10px;
  background-color: $mint-light;

  &__logo {
    width: $header-height;
    height: $header-height;
    overflow: hidden;
    flex: auto;

    img {
      height: $header-height;
    }
  }
}
