.rhap {
  &_container {
    min-width: 0;
    background-color: transparent;
    box-shadow: none;
    user-select: none;
    margin: 10px 0;
    padding: 0
  }

  &_additional-controls {
    display: none
  }

  &_time,
  &_button-clear {
    color: $grey;
  }
}
