@mixin flex-container-vertical() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-container-horizontal() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-container-wrap() {
  display: flex;
  flex-wrap: wrap;
}
