// sizes
$header-height: 50px;
$size-image: 250px;

// colors
$grey: #eee;
$mint: #002b36;
$mint-light: #073642;
$grey-dark: #839496;
$blue: #268bd2;
$gold: #b58900;
$gold-light: #c09b26;
$red: #cb4b16;
